@media (max-width: 580px) {


	h1 {
		font-size: 2rem;
	}
	#form-container {
		padding: 1.5rem;
	}

	footer {
		padding: 3rem 0;
	}

    footer .footer-subscribe ul li {
        display: inline-block;
        margin: 0;
    }

	#top-content h1{
		font-size: 36px;
	}

	#top-content h2:hover {
		transform: scale(1.1);
		transition: 0.4s;
	}

	#currentPossition {
		font-size: 26px;
	}

	.about-me-images-container {
		margin: 0 auto;
	}
}